- roommate_notification = @roommate_notification
= render partial: "notification_mailers/#{roommate_notification.notification.axis_type.underscore}", locals: { notification: roommate_notification.notification, roommate_notification: roommate_notification, :"#{roommate_notification.notification.axis_type.underscore}" => roommate_notification.notification.axis }
