#current-user-dropdown {
  img {
    width: auto;
    height: 30px;
    margin: -10px 0;
  }
}

.friend {
  cursor: pointer;
  border: 3px solid transparent;
  margin: 0 3px 3px 0;

  &.active {
    border-color: #99cccc;
    background-color: #eeffff;
  }
}

#invite_email {
  #invites_email_addresses {
    width: 400px;
    height: 140px;
  }

  .error {
    color: rgb(202, 92, 92);
  }

  #success_msg {
    color: rgb(92, 202, 92);
  }
}
